on early-boot
    # Backlight LCD dan tombol
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness

    # LED notifikasi RGB
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness

    # Kedip gaya QCOM: grpfreq/grppwm menentukan timing, blink menyalakan
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink

service vendor.light-oppo_msm8916 /vendor/bin/hw/android.hardware.light-service.oppo_msm8916
    class hal
    user system
    group system
    shutdown critical
